include:
  - project: nosana-ci/tools/cicd/gitlab-ci
    file: anchor.yml

image: projectserum/build:v0.27.0

variables:
  PREPARE_SCRIPT: scripts/prepare.sh

.parallel:
  parallel:
    matrix:
      - PROGRAM_NAME: nosana_staking
        PROGRAM_ID: nosScmHY2uR24Zh751PmGj9ww9QRNHewh9H59AfrTJE
      - PROGRAM_NAME: nosana_rewards
        PROGRAM_ID: nosRB8DUV67oLNrL45bo2pFLrmsWPiewe2Lk2DRNYCp
      - PROGRAM_NAME: nosana_pools
        PROGRAM_ID: nosPdZrfDzND1LAR28FLMDEATUPK53K8xbRBXAirevD
      - PROGRAM_NAME: nosana_jobs
        PROGRAM_ID: nosJhNRqr2bc9g1nfGDcXXTXvYUmxD4cVwy2pMWhrYM

npm:
  stage: .pre
  parallel:
    matrix:
      - SCRIPT: [ eslint, prettier ]
  script:
    - npm ci
    - npm run $SCRIPT
  rules:
    - if: $CI_MERGE_REQUEST_ID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

scenario:
  extends: .wallet
  stage: test
  parallel:
    matrix:
      - TEST_SCENARIO: [ all, claim-transfer, jobs, pools, rewards, staking ]
  script:
    - npm ci
    - anchor test --skip-build
  rules:
    - if: $CI_MERGE_REQUEST_ID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  cache:
    key: target-build-devnet
    paths:
      - target/
